# Shared secrets
OPENAI_API_KEY=your_openai_api_key_here
AI_DEVS_API_KEY=your_ai_devs_api_key_here
HUB_VERIFY_URL=https://hub.ag3nts.org/verify

# L1_people
L1_PEOPLE_CSV_URL=

# L2_findhim
L2_POWER_PLANTS_URL=
L2_LOCATION_API_URL=
L2_ACCESS_LEVEL_API_URL=

# L3_proxy
L3_PROXY_API_URL=
