# Shared secrets
OPENAI_API_KEY=
AI_DEVS_API_KEY=
HUB_VERIFY_URL=
HUB_BASE_URL=
EASYTOOLS_EMAIL=
EASYTOOLS_PASSWORD=

# L1_people
L1_PEOPLE_CSV_URL=

# L2_findhim
L2_POWER_PLANTS_URL=
L2_LOCATION_API_URL=
L2_ACCESS_LEVEL_API_URL=

# L3_proxy
L3_PROXY_API_URL=

# L6_categorize
HUB_DATA_URL=

# L9_mailbox
ZMAIL_API_URL=

# L12_firmware
FIRMWARE_SHELL_URL=

# L16_okoeditor
OKO_BASE_URL=
OKO_OPERATOR_LOGIN=
OKO_OPERATOR_PASSWORD=
